# Библиотеки

## Numpy

NumPy (https://numpy.org) -- библиотека для работы с массивами.  
Работаем с примерами отсюда https://numpy.org/doc/stable/user/quickstart.html#the-basics

In [ ]:
import numpy as np


a = np.arange(15)
a

In [ ]:
a.shape

In [ ]:
type(a)

In [ ]:
a = a.reshape(3, 5)
a

In [ ]:
a.shape

In [ ]:
a.dtype

In [ ]:
type(a)

In [ ]:
a = np.array([2, 3, 4])
a

In [ ]:
a.dtype

In [ ]:
b = np.array([1.2, 3.5, 5.1])
b.dtype

In [ ]:
b = np.array([(1.5, 2, 3), (4, 5, 6)])
b

In [ ]:
np.zeros((3, 4))

In [ ]:
np.ones((2, 3, 4), dtype=np.int16)

In [ ]:
np.arange(10, 30, 5)

In [ ]:
np.arange(0, 2, 0.3)

### Operations

In [ ]:
a = np.array([20, 30, 40, 50])
b = np.arange(4)
print(a)
print(b)

In [ ]:
c = a - b
c

In [ ]:
b ** 2

In [ ]:
b * 10

In [ ]:
10 * np.sin(a)

In [ ]:
a < 35

## Pandas

Pandas (https://pandas.pydata.org) -- библиотека для работы с датасетами.  
Введение в библиотеку можно посмотреть тут -- https://pandas.pydata.org/docs/user_guide/10min.html

In [ ]:
import pandas as pd

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

In [ ]:
dates = pd.date_range("20130101", periods=6)
dates

In [ ]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

In [ ]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2

In [ ]:
df2.dtypes

In [ ]:
df.head()

In [ ]:
df.tail(3)

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.to_numpy()

In [ ]:
df.describe()

In [ ]:
df.T

In [ ]:
df.sort_index(axis=1, ascending=False)

In [ ]:
df.sort_values(by="B")

In [ ]:
df["A"]

In [ ]:
df[0:3]

In [ ]:
df["20130102":"20130104"]

In [ ]:
df.loc[dates[0]]

In [ ]:
df.loc[:, ["A", "B"]]

In [ ]:
df.loc["20130102":"20130104", ["A", "B"]]

In [ ]:
df.loc["20130102", ["A", "B"]]

In [ ]:
df.loc[dates[0], "A"]

In [ ]:
df.at[dates[0], "A"]

In [ ]:
df.iloc[3]

In [ ]:
df.iloc[3:5, 0:2]

In [ ]:
df.iloc[[1, 2, 4], [0, 2]]

In [ ]:
df.iloc[1:3, :]

In [ ]:
df.iloc[:, 1:3]

In [ ]:
df.iloc[1, 1]

In [ ]:
%timeit df.iloc[1, 1]

In [ ]:
df.iat[1, 1]

In [ ]:
%timeit df.iat[1, 1]

In [ ]:
df[df["A"] > 0]

In [ ]:
df[df > 0]

In [ ]:
df2 = df.copy()

In [ ]:
df2["E"] = ["one", "one", "two", "three", "four", "three"]

In [ ]:
df2

In [ ]:
df2[df2["E"].isin(["two", "four"])]

In [ ]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range("20130102", periods=6))
s1

In [ ]:
df["F"] = s1

In [ ]:
df

In [ ]:
df.at[dates[0], "A"] = 0

In [ ]:
df

In [ ]:
df.iat[0, 1] = 0

In [ ]:
df

In [ ]:
df.loc[:, "D"] = np.array([5] * len(df))
df

In [ ]:
df2 = df.copy()

In [ ]:
df2[df2 > 0] = -df2

In [ ]:
df2

In [ ]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])

In [ ]:
df1

In [ ]:
df1.loc[dates[0] : dates[1], "E"] = 1

In [ ]:
df1

In [ ]:
df1.dropna(how="any")

In [ ]:
df1.fillna(value=5)

In [ ]:
pd.isna(df1)

# operations

In [ ]:
df.mean()

In [ ]:
df.mean(1)

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)
s

In [ ]:
df

In [ ]:
df.sub(s, axis="index")

In [ ]:
df.apply(np.cumsum)

In [ ]:
df.apply(lambda x: x.max() - x.min())

In [ ]:
s = pd.Series(np.random.randint(0, 7, size=10))

In [ ]:
s

In [ ]:
s.value_counts()

In [ ]:
s = pd.Series(["A", "B", "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"])

In [ ]:
s.str.lower()

# Merge & Concat

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4))
df

In [ ]:
pieces = [df[:3], df[3:7], df[7:]]

In [ ]:
pieces[1]

In [ ]:
pd.concat(pieces)

In [ ]:
left = pd.DataFrame({"key": ["foo", "foo"], "lval": [1, 2]})
left

In [ ]:
right = pd.DataFrame({"key": ["foo", "foo"], "rval": [4, 5]})
right

In [ ]:
pd.merge(left, right, on="key")

In [ ]:
left = pd.DataFrame({"key": ["foo", "bar"], "lval": [1, 2]})
left

In [ ]:
right = pd.DataFrame({"key": ["foo", "bar"], "rval": [4, 5]})
right

In [ ]:
pd.merge(left, right, on="key")

# Grouping

In [ ]:
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)

In [ ]:
df

In [ ]:
df.groupby("A")[["C", "D"]].sum()

In [ ]:
df.groupby(["A", "B"]).sum()

# Reshaping

In [ ]:
tuples = list(
    zip(
        ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
        ["one", "two", "one", "two", "one", "two", "one", "two"],
    )
)

index = pd.MultiIndex.from_tuples(tuples, names=["first", "second"])
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=["A", "B"])
df

In [ ]:
df2 = df[:4]
df2

In [ ]:
stacked = df2.stack()
stacked

In [ ]:
stacked.unstack()

In [ ]:
stacked.unstack(1)

In [ ]:
stacked.unstack(0)

# Pivoting

In [ ]:
df = pd.DataFrame(
    {
        "A": ["one", "one", "two", "three"] * 3,
        "B": ["A", "B", "C"] * 4,
        "C": ["foo", "foo", "foo", "bar", "bar", "bar"] * 2,
        "D": np.random.randn(12),
        "E": np.random.randn(12),
    }
)
df

In [ ]:
pd.pivot_table(df, values="D", index=["A", "B"], columns=["C"])

# Time Series

In [ ]:
rng = pd.date_range("1/1/2012", periods=100, freq="S")
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts

In [ ]:
ts.resample("5Min").sum()

In [ ]:
rng = pd.date_range("3/6/2012 00:00", periods=5, freq="D")
ts = pd.Series(np.random.randn(len(rng)), rng)
ts

In [ ]:
ts_utc = ts.tz_localize("UTC")
ts_utc

In [ ]:
ts_utc.tz_convert("US/Eastern")

In [ ]:
rng = pd.date_range("1/1/2012", periods=5, freq="M")
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

In [ ]:
ps = ts.to_period()
ps

In [ ]:
ps.to_timestamp()

In [ ]:
prng = pd.period_range("1990Q1", "2000Q4", freq="Q-NOV")
ts = pd.Series(np.random.randn(len(prng)), prng)
ts.index = (prng.asfreq("M", "e") + 1).asfreq("H", "s") + 9
ts.head()

# Categoricals

In [ ]:
df = pd.DataFrame(
    {"id": [1, 2, 3, 4, 5, 6], "raw_grade": ["a", "b", "b", "a", "a", "e"]}
)
df

In [ ]:
df["grade"] = df["raw_grade"].astype("category")
df["grade"]

In [ ]:
new_categories = ["very good", "good", "very bad"]
df["grade"] = df["grade"].cat.rename_categories(new_categories)

In [ ]:
df

In [ ]:
df["grade"] = df["grade"].cat.set_categories(
    ["very bad", "bad", "medium", "good", "very good"]
)
df["grade"]

In [ ]:
df.sort_values(by="grade")

In [ ]:
df.groupby("grade").size()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range("1/1/2000", periods=1000))
ts = ts.cumsum()
ts.plot();

In [ ]:
df = pd.DataFrame(
    np.random.randn(1000, 4), index=ts.index, columns=["A", "B", "C", "D"]
)
df = df.cumsum()


df.plot()
plt.legend(loc='best');

# Working with real data

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv', sep=',')

In [ ]:
data.head()

In [ ]:
data.shape

In [ ]:
data.info()

In [ ]:
data.describe()

In [ ]:
data.to_numpy()

In [ ]:
type(data["Name"])

In [ ]:
data[["Name"]]

In [ ]:
data[["Name", "Sex", "Age"]]

In [ ]:
data["Age"].hist()

In [ ]:
data["Sex"].hist()

In [ ]:
data["Age"] < 30

In [ ]:
bool_mask = data["Age"] < 30
data[bool_mask]

In [ ]:
data[bool_mask].equals(data[data["Age"] < 30])

In [ ]:
data["Age"].mean()

In [ ]:
data.groupby("Sex").mean()

# Задания на семинар

Правильность заданий будет осуществляться через инструкции `assert`.  
`assert` сравнивает две величины, и если они равны друг другу, то код отрабатывает без ошибок

In [ ]:
# Пример assert
a = 2
b = 2
assert a == b

# Библиотеки

NumPy (https://numpy.org) -- библиотека для работы с массивами.  
Pandas (https://pandas.pydata.org) -- библиотека для работы с датасетами.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
def square(input_list):
    """Возводит каждое значение массива в квадрат"""
    output_list = []
    for each in input_list:
        output_list.append(each ** 2)
    return output_list


N = 1001
input_list = list(range(N))
assert square(input_list)[-1] == 1000 ** 2

In [ ]:
N = 1_000_000
%timeit square(list(range(N)))
%timeit [each ** 2 for each in range(N)]
%timeit np.arange(N) ** 2

In [ ]:
input_list = np.arange(N)
output_list = np.sin(input_list) # здесь необходимо преобразовать input_list в синус от каждого элемента
assert round(output_list[-3], 3) == 0.214
assert round(output_list[-2], 3) == -0.706

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/omaralbeik/bike-sharing-neural-network/master/Bike-Sharing-Dataset/hour.csv")

In [ ]:
df.shape

In [ ]:
df.head()

	- instant: record index
	- dteday : date
	- season : season (1:springer, 2:summer, 3:fall, 4:winter)
	- yr : year (0: 2011, 1:2012)
	- mnth : month ( 1 to 12)
	- hr : hour (0 to 23)
	- holiday : weather day is holiday or not (extracted from http://dchr.dc.gov/page/holiday-schedule)
	- weekday : day of the week
	- workingday : if day is neither weekend nor holiday is 1, otherwise is 0.
	+ weathersit : 
		- 1: Clear, Few clouds, Partly cloudy, Partly cloudy
		- 2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist
		- 3: Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds
		- 4: Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog
	- temp : Normalized temperature in Celsius. The values are divided to 41 (max)
	- atemp: Normalized feeling temperature in Celsius. The values are divided to 50 (max)
	- hum: Normalized humidity. The values are divided to 100 (max)
	- windspeed: Normalized wind speed. The values are divided to 67 (max)
	- casual: count of casual users
	- registered: count of registered users
	- cnt: count of total rental bikes including both casual and registered

# Задачи:
1) Вывести основую информацию по типам колонок (.info())  
2) Вывести основные статистики колонок (.describe())   
3) Привести dteday к типу Datetime (pd.to_datetime())  
4) Оценить среднюю скорость ветра по сезонам  
5) Посмотреть, как меняется количество арендованных велосипедов в зависимости от погоды (weathersit)  
6) Вывести распределение temp, atemp.п  
7) Посмотреть, как меняется среднее количество арендованных    
8) Проверить данные на миссинги .isna() (.sum() для агрегации по колонкам)

In [ ]:
# 1

In [ ]:
# 2

In [ ]:
# 3

In [ ]:
# 4

In [ ]:
# 5

In [ ]:
# 6

In [ ]:
# 7

In [ ]:
# 8